@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: blue;
}

.login-sistem{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 15%;
}

.container-login{
    width: 800px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 50px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.img-login img{
    /* background-color: red; */
    width: 110%;
}

.login{
    font-family: 'Commissioner', sans-serif;
    padding-left: 10%;
    padding-right: 10%;
    width: 90%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
}

.login h1{
    text-align: center; 
    margin-bottom: 10%;
}

.input-login{
    padding: 5px;
    border-radius: 10px;
    border: 1px solid gray;
}

.button{
    border: none;
    background-color: #1138F7;
    color: white;
    padding: 5px;
    font-size: 15px;
    text-transform: uppercase;
    box-shadow: 2px 2px grey;
}

.button:hover{
    background-color: rgb(138, 140, 238);
    color: black;
    cursor: pointer;
}

.cadastro-sistem{
    animation: nasci;
    animation-duration: 1s;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 10%;
}

.container-cadastro{
    font-family: 'Commissioner', sans-serif;
    width: 500px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 50px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.header-cadastro{
    /* background-color: red; */
    width: 450px;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 30px;
}

#img-cadastro1{
    float: left;
    margin-left: 20px;
}

#img-cadastro2{
    float: right;
}

.cadastro{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    width: 70%;
}

.cadastro input{
    margin-bottom: 5%;
}

.sucessful{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 10%;
}

.container-sucesso{
    border: 1px solid black;    
    font-family: 'Commissioner', sans-serif;
    width: 400px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 50px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    text-align: center;
}

.header-sucesso{
   margin-top: 5%;
}

.header-sucesso img{
    margin-top: 10px;
}

.next{
    width: 300px;
    margin-top: 6%;
}

.next input{
    margin-top: 6%;
}

/*APARIÇÃO DO LOGIN*/
@keyframes nasci {
    from{
        opacity: 0;
        transform: scale(0.8);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width: 600px){
    .container-login{
        height: 700px;
        flex-direction: column;
        text-align: center;
    }
    .container-login img{
        width: 70%;
    }
}

@media screen and (max-width: 460px){
    .container-cadastro{
        width: 400px;
    }
    .header-cadastro{
        display: flex;
        justify-content: space-around;
    }
}

